<div class="row">
    <div class="col-sm-8 border-end border-white my-1">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="text-white">Enter Expense</h1>
            <div>
                <%=link_to 'Profile',users_index_path,class:'btn btn-outline-light btn-lg'%>
            </div>
        </div>
        <hr class="text-white">
        <div>
            <%=form_with model: @expense do |form| %>
                <div class="row">
                    <div class="col-sm-12 col-lg-6 my-1">
                        <div class="form-floating">
                            <%=form.text_field :expense_name , class:'form-control' , placeholder:'Add item'%>
                                <%=form.label :expense_name%>
                        </div>
                    </div>
                    <div class="col-sm-12  col-lg-4 my-1">
                        <div class="form-floating">
                            <%=form.text_field :amount , class:'form-control' , placeholder:'Add item'%>
                                <%=form.label :expense_amount%>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-2 my-1">
                        <%=form.submit class:'btn btn-danger h-100 w-100', value:'Add' %>
                    </div>
                </div>
            <%end%>
            <div class="my-3">
                <h4 class="lead border-bottom  text-white border-white">Expense Analysis</h4>
                <div class="row text-white">
                    <%if @avg_expense %>
                    <div class="col-sm-6 col-md-12 col-lg-6">
                       <div class="row">
                        <div class="fs-2">AVG EXP</div>
                        <div class="display-3"><%=number_to_currency(@avg_expense)%></div>
                       </div>
                    </div>
                    <%end%>
                    <div class="col-sm-6 col-md-12 col-lg-6">
                        <div class="fs-2 text-uppercase">Daily Limit</div>
                        <div class="display-3"><%=number_to_currency(current_user.daily_limit)%></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-4 my-1">
        <h4 class="border-bottom border-white text-white mb-3">Recent Expenses</h4>
        <div class="text-white">
            <%@expenses.each do |expense| %>
                <div class="text-end">
                    <div class="d-flex justify-content-between">
                        <div class="total">
                            <%if expense.total>=current_user.daily_limit%>
                            <button class="btn btn-warning"><%=number_to_currency(expense.total)%></button>
                            <%else%>
                            <button class="btn btn-light"><%=number_to_currency(expense.total)%></button>
                            <%end%>
                        </div>
                        <button class="btn btn-danger">
                            <%=time_tag(expense.date)%>
                        </button>
                    </div>
                    <ul class="list-group my-1">
                        <%expense.items.each do |item| %>
                        <li class="list-group-item d-flex text-capitalize justify-content-between align-items-center">
                            <div class="text-start">
                                <%=item.expense_name%>
                            </div>
                           <div>
                            <span class="badge bg-primary badge-pill">
                                <%=number_to_currency(item.amount)%>
                            </span>
                            <%=link_to "Edit" ,edit_item_path(item.id),class:'btn btn-danger  btn-sm'%>
                           </div>
                        </li>
                        <%end%>
                    </ul>
                </div>
                <hr>
                <%end%>
        </div>
    </div>
</div>