<!DOCTYPE html>
<html>
  <head>
    <title>Tracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "user", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="nav justify-content-center align-items-center align-content-center  mt-2">
      <a class="display-2 mx-3  text-uppercase text-white" href="/">Expense Tracker</a>
    </nav>
    <header class="my-3">
      <div class="d-flex justify-content-end p-2">
        <%if user_signed_in?%>
            <h4 class="btn btn-light mx-2">
              <%=current_user.email%>
            </h4>
            <div>
              <%=button_to 'Logout' , destroy_user_session_path,class:'btn btn-light mx-2',method: :delete%>
            </div>
          <%end%>
      </div>
    </header>
      <%if flash[:status] %>
        <div class="alert w-50 m-auto alert-light text-center fs-4 fw-bold">
          <%=flash[:status]%>
        </div>
      <%end%>
    <div class="container my-2">
    <%= yield %>
    </div>
  </body>
</html>
